pipeline/Assigning values from file to variable.json
{
	"name": "Assigning values from file to variable",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"method": "GET",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"url": "https://pipelinedemodatapb.blob.core.windows.net/outputfiles/dbo.EMPLOYEE.txt"
				}
			},
			{
				"name": "input",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileoutput",
					"value": {
						"value": "@activity('Web1').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"fileoutput": {
				"type": "String"
			}
		},
		"annotations": []
	}
}