pipeline/Assigning values from file to variable.json
{
	"name": "Assigning values from file to variable",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"method": "GET",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"url": "https://pipelinedemodatapb.blob.core.windows.net/outputfiles/test.txt",
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "setting the variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filecontent",
					"value": {
						"value": "@activity('Web1').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"filecontent": {
				"type": "String"
			}
		},
		"annotations": []
	}
}